body {
  font-family: "Trebuchet MS", "Tahoma", sans-serif;
}

/* h1 buttons */
h1 {
  border: solid;
  border-width: 2px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.buttons {
  display: inline-block;
  margin-left: 4%;
}

.buttons :hover {
  color: tomato;
}


/* back button */
.backButton {
  margin: 4%;
  font-size: 1rem;
}

.backButton a {
  color: lightgray;
}

.backButton :hover {
  text-decoration: underline;
}


/* or buttons (fixed width) */
.orButton {
  width: 120px;
}

/* graphic layout/dimensions */
.graphic {
  display: inline-block;
  height: 100%;
  width: 80%;
}

/* or graphic (fixed width) */
.orGraphic {
  display: inline-block;
  width: 800px;
}

/* proof graphic (text alignment) */
.proofGraphic {
  margin: 100px 50px;
}

/* explanation text */
.explanation {
  color: lightgray;
  margin: 100px 100px;
}

#p0, #p1, #p2, #p3, #p4, #p5 {
  display: none;
}

#p0 {
  font-style: italic;
}

/* form input fields */
input {
  margin: 1% 7%;
}

.numInput {
  width: 30px;
}

/* buttons table on index.html */
.buttonsTable {
	display: table;
}
.buttonsTable tr {
	display: table-cell;
}
.buttonsTable tr td {
	display: block;
  width: 280px;
}
