/* h1 buttons */
h1 {
  border: solid;
  border-width: 2px;
  font-family: "Trebuchet MS", "Tahoma", sans-serif;
  margin: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

a :hover {
  color: tomato;
}

.graphic {
  display: inline-block;
  height: 100%;
  width: 80%;
}

.buttons {
  display: inline-block;
  margin-left: 4%;
}

.move :hover {
  color: tomato;
}
